name: Scheduled Render Preprod Deploy

on:
  schedule:
    # Every day at 20:30 UTC-3 (23:30 UTC)
    - cron: "30 23 * * *"
  workflow_dispatch:

jobs:
  deploy-dev:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Render Deploy
        run: |
          curl -X POST \
            -H "Accept: application/json" \
            -H "Authorization: Bearer rnd_yOt8T2Fo6mea4Y3m1P9FmJeZAydS" \
            https://api.render.com/v1/services/srv-d4occ7u3jp1c73demprg/deploys
