name: Deplot Dev Environment

on:
  workflow_dispatch:

jobs:
  deploy-dev:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Render Deploy
        run: |
          curl -X POST \
            -H "Accept: application/json" \
            -H "Authorization: Bearer rnd_yOt8T2Fo6mea4Y3m1P9FmJeZAydS" \
            https://api.render.com/v1/services/srv-d4ocjivgi27c738d2qd0/deploys
